@import '../modules/variables';

.footer {
    text-align: center;
    bottom: 0;
    font-family: "Lucida Console", Monaco, monospace;
    height:35px;
    left: 0;
    width:100%;
    background-color: #E6E6E6;
    position: absolute;
    p {
        margin-top: 5px;
    }

}