@import '../modules/variables';


.singleMsgByUser {
    padding: 5px 3px 3px 3px;
    margin-bottom:5px;
    word-wrap: break-word;
}

.singleMsgByUserId {
    margin-top:20px;
    padding-top:5px;
    font-size:16px;
    font-weight:600;
    text-align:center;
}

.selectUserToSeeMore {
    text-align:center;
    color:#687a5c;
    padding-top:8px;
    font-weight:600;
    font-size:14px;
    @media #{$mq-xs, $mq-sm}{
      font-weight:500;
      font-size:12px;
    }
}

.main-messageByUser {
    @media #{$mq-xs, $mq-sm}{
      span {
        display:none;
      }
      margin: 0 auto;
      width:90%;
      margin-top:10px;
      margin-bottom:15px;
      min-height: 0;
      max-height: 145px;
      overflow:auto;
    }
    margin-top:25px;
    min-height: ß100px;
    max-height: 73vh;
    overflow:auto;
    // resize: vertical;
    // border: thin blue solid;
}

.hideForMobile {
    @media #{$mq-xs, $mq-sm}{
      display:none !important;
    }
}
.hideForDesktop {
    @media #{$mq-m, $mq-lg, $mq-xlg}{
      display:none !important;
    }
}